<header>
    <div class="app-container">
        <h1>Diviertete buscando <strong>HASHTAG</strong>!</h1>
        <h2>Guarda tus favoritos</h2>
        <div class="autocomplete" v-bind:class="{'open':open }">
            <input type="text" v-model="selection" placeholder="Buscar" class="search"
            @keydown.enter = 'enter'
            @keydown.down = 'down'
            @keydown.up = 'up'
            @input = 'change'
            v-on:blur="open = false">
            <ul class="suggestions">
                <li v-for="(suggestion, $index) in matches"
                    v-bind:class="{'active': isActive($index)}"
                    @click="suggestionClick($index)">
                    <p>{{ suggestion.hashtag }}</p>
                    <span>{{ suggestion.count }}</span>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="app-container">
    <div class="hashtags">
        <div class="hashtag hastag-header">
            <h3 class="name"><span class="pull-right">Apariciones</span> HASHTAG</h6>
        </div>
        <div class="hashtag" v-for="hashtag in hashtags">
            <h4 class="name"><span class="pull-right">{{ hashtag.count }}</span> {{ hashtag.hashtag}}</h6>
        </div>
    </div>
</div>
