// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body,#app {
    height: 100%;
}
body {
    margin: 0;
    background-color: #f6f6f6;
    & * {
        font-family: 'Montserrat', cursive;
    }
}

.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}

#app {
    position: relative;
    overflow: auto;

    header {
        position: relative;
        height: 250px;
        border-bottom: 1px solid #ccc;

        .app-container {
            height: 100%;
            position: relative;
        }
        h1,h2 {
            text-align: center;
            transition: transform 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        h1 {
            color: white;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 60px;
        }
        h2 {
            margin-top: 5px;
            color: black;
        }

        &:before {
            position:absolute;
            content:  '';
            background-color: #ddd;
            background-image: url('//p6.zdassets.com/hc/theme_assets/138842/200037786//pattern_transparent.png'),
                              linear-gradient(-145deg, #ffe628 -20%, #ad6013 87%);
            background-size: 380px, contain;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .autocomplete {
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            .search, .suggestions {
                box-shadow: 0 0 8px rgba(black,0.3);
                transition: all 0.3s ease-in-out;
            }
            .search {

                width: calc(100% - 40px);
                font-size: 20px;
                padding: 20px;
                border: none;
                border-radius: 10px;
                outline: none;

                &:focus {
                    transform: scale(1.01);
                    box-shadow: 0 2px 10px rgba(black,0.3);
                }
            }
            .suggestions {
                height: 0;
                overflow-y: auto;
                background-color: white;
                margin: 0;
                margin-top: -2px;
                padding: 0;
                position: absolute;
                width: 100%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                li {
                    padding: 20px;
                    clear: both;
                    p {
                        float:left;
                        margin: 0;
                        font-weight: bold;
                    }
                    span {
                        float:right;
                    }
                    &:hover, &.active {
                        background-color: #ddd;
                    }
                }
            }

            &.open {
                .search,.suggestions {
                    transform: scale(1.01);
                    box-shadow: 0 2px 10px rgba(black,0.3);
                }
                .search {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .suggestions {
                    transform: scale(1.01);
                    height: 200px;
                    max-height: 300px;
                }
            }
        }
    }


    .badge {
        margin: 0;
        padding: 10px;
        font-weight: bold;
        border-radius: 8px;
        font-size: 12px;
        color: white;
        background-color: #ad6013;
    }

    .hashtags {
        margin-top: 80px;
        margin-bottom: 100px;

        .hashtag {
            clear: both;
            padding: 30px 20px;
            border-bottom: 1px solid #ddd;
            .name {
                margin: 0;
            }
            .badge {
                float: right;
            }
        }
    }

    .app-container {
        width: 1000px;
        margin: 0 auto;
    }

}

@media (max-width: 992px) {
    .app-container {
        width: auto !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

@media (max-width: 572px) {
    .app-container {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
